@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
:root {
    --azul: #0a3d62;
    --verde: #54C1A9;
    --blanco: #ffffff;
    --gris-fondo: #e6ecf5;
    --texto: #000000;
}
:root {
 --azul-principal: #1D4A7A;
--azul-claro: #F5F7FA;
--blanco: #FFFFFF;
 --gris-texto: #6C757D;
 --gris-fuerte: #4A4A4A;
 --verde-activo: #28A745;
 --logo-azul: #0D3B66;
--logo-verde: #54C1A9;
 --logo-naranja: #F4A443;
 --verde-barra: #0b7a32;
 --negro: black;
 --blanco2: rgb(206, 206, 206);
}
body{
    font-family: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}  
/* ---------------- HEADER ---------------- */

.titulo-header {
    font-size: 22px;
    font-weight: bold;
}


/* ---------------- BOTÓN ACCESIBILIDAD CSS ---------------- */
.btn-acc {
    padding: 10px 18px;
    background: var(--verde);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/* Checkbox oculto */
#accesibilidad {
    display: none;
}

/* Activar modo de alto contraste */
#accesibilidad:checked ~ .contenedor,
#accesibilidad:checked ~ footer {
    filter: grayscale(100%) contrast(120%);
}

/* ---------------- CONTENEDOR ---------------- */
.contenedor {
    padding: 40px 70px;
    transition: 0.3s ease-in-out;
    font-family: "Inter", sans-serif;
}

h1 {
    background: var(--azul);
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.card h2 {
    color: var(--azul);
    margin-bottom: 10px;
}

.card p {
    text-align: justify;
    line-height: 1.6;
}

/* ---------------- BOTÓN DESCARGA ---------------- */
.btn-descarga {
    display: inline-block;
    padding: 12px 20px;
    background: var(--verde);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
}

.btn-descarga:hover {
    background: #3a9b7e;
}



/* ---------------- FOOTER ---------------- */
footer {
    background: var(--azul);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 6px solid var(--verde);
    transition: 0.3s;
}
    .topbar {
        grid-area: topbar;
    background: var(--logo-azul);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 8px solid var(--logo-verde);
}
.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
    height: 55px;
}

.logo-area .titulo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: var(--logo-verde);
}
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 170px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* clave para que quede encima del contenido */
    z-index: 2000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--logo-verde);
}
