:root {
 --azul-principal: #1D4A7A;
--azul-claro: #F5F7FA;
--blanco: #FFFFFF;
 --gris-texto: #6C757D;
 --gris-fuerte: #4A4A4A;
 --verde-activo: #28A745;
 --logo-azul: #0D3B66;
--logo-verde: #54C1A9;
 --logo-naranja: #F4A443;
 --verde-barra: #0b7a32;
 --negro: black;
 --blanco2: rgb(206, 206, 206);
}
body {
background: var(--blanco);
margin: 0;
font-family: "Montserrat", sans-serif;;
}

table {
    width: 50%;
    border-collapse: collapse; 
    border: 6px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
.btn-agregar:hover {
    background-color: var(--blanco);
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(0,0,0,0.4);
    color: var(--negro);
}
.logo-area img {
height: 55px;
}
.logo-area .titulo {
color: white;
font-size: 26px;
font-weight: bold;
}
.nav-links a {
color: white;
text-decoration: none;
font-size: 16px;
}

.nav-links a.active,
.nav-links a:hover {
color: var(--logo-verde);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--logo-verde);
}

.subtitulo-box h2 {
    text-align: center;
}
.centrado{
    text-align: center;
}
.logo-area {
 display: flex;
align-items: center;
gap: 10px;
}
.subtitulo-box {
    width: 50%;
    margin: 50px auto;
    background-color: var(--blanco);
    padding: 30px ;
    border-radius: 20px;
    border:3px solid var(--azul-principal);
}


.btn-agregar {
 margin-top: 20px;
 padding: 12px 25px;
font-size: 17px;
 background: var(--logo-verde);
 color: white;
 border: none;
border-radius: 6px;
cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: var(--blanco);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 170px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2000;
}
.nav-links {
display: flex;
align-items: center;
gap: 25px;
}
.subtitulo-box {
    grid-area:subtitulo-box ;
    width: 50%;
    margin: 50px auto;
    background-color: var(--blanco);
    padding: 30px ;
    border-radius: 20px;
    border:3px solid var(--azul-principal);
}
.subtitulo-box div {
    text-align: center;
}

grid-container > * { 
    text-align: center
    ;
}
    .grid-container{
        display: grid;
        gap: 20px;
        grid-template: 
        "topbar"auto
        "subtitulo-box"auto
        "footer"auto;
        .topbar {
        grid-area: topbar;
background: var(--logo-azul);
height: 80px;
display: flex;
align-items: center;
padding: 0 30px;
justify-content: space-between;
border-bottom: 8px solid var(--logo-verde);
position: relative;
z-index: 1000;
}
hgroup {
    grid-area:subtitulo-box ;
}
footer { 
    grid-area: footer;
    text-align: center;
    padding: 20px 10px;
    background: var(--azul-principal);
    color: var(--blanco);
    font-size: 16px;
    border-top: 3px solid var(--logo-verde);
    border-bottom: 8px solid var(--azul-principal);
}
@media(min-width: 768px){
        grid-template: 
        "topbar topbar"auto
        "titulo-principal titulo-principal"auto
        "subtitulo-box subtitulo-box"auto
        "btn-agregar btn-agregar"auto
        "footer footer"auto
        /auto auto;
}
@media(min-width: 992px){
        grid-template: 
        "topbar topbar"auto
        "subtitulo-box subtitulo-box"auto
        "footer footer"auto
        /auto auto;
    }
}