
:root {
    --azul-principal: #1D4A7A;
    --blanco: #FFFFFF;
    --gris-texto: #6C757D;
    --logo-azul: #0D3B66;
    --logo-verde: #54C1A9;
    --verde-barra: #0b7a32;
    --negro: #000;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
    height: 55px;
}

.logo-area .titulo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: var(--logo-verde);
}






 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

 .bienvenida h1 {
    font-size: 40px;
    font-weight: 900;
    color: var(--logo-azul);
    font-family: "Inter", sans-serif;
}

.linea-verde {
    width: 100%;
    height: 10px;
    background: var(--logo-verde);
    margin: 2px 0;
}

.categoria-titulo {
    font-size: 25px;
    font-weight: 900;
    color: var(--negro);
    letter-spacing: 2px;
    font-family: "Inter", sans-serif;
}




.categoria-card {
    display: block;
    text-decoration: none;
    color: inherit;
}

.categoria-card {
    width: 280px;
    text-align: center;
}

.icon-box {
    background: var(--azul-principal);
    padding: 25px;
    border-radius: 5px;
}

.icon-box img {
    width: 120px;
    height: 120px;
}

.categoria-card h3 {
    font-size: 22px;
    font-weight: 900;
    margin-top: 12px;
    color: var(--negro);
}

.categoria-card p {
    font-size: 15px;
    margin-top: 8px;
    line-height: 1.4;
    color: var(--gris-texto);
}
.accesibilidad > button {
    background: #1f3b57;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

/* MENÚ */
.menu-accesibilidad {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.menu-accesibilidad button {
    margin: 5px 0;
    padding: 6px;
    border: none;
    cursor: pointer;
    background:#eee;
    color:black;
    border-radius:6px;
}

/* MODOS */
.dark-mode {
    background: black !important;
    color: var(--blanco);
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode a {
    color: var(--blanco);
}



.mayusculas{
    text-transform: uppercase;
}




grid-container > * { 
    font-family: "Montserrat", sans-serif;
}
    .grid-container{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: var(--blanco);
        grid-template: 
        "topbar"auto
        "bienvenida"auto
        "categorias-container"auto
        "boton"auto
        "footer"auto;
    .topbar {
        grid-area: topbar;
    background: var(--logo-azul);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 8px solid var(--logo-verde);
}
.bienvenida {
    grid-area: bienvenida;
    text-align: center;
    margin-top: 0px;
    font-family: "Inter", sans-serif;
   
}
.categorias-container {
    grid-area: categorias-container;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    padding: 20px 0;
}

.carousel {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.carousel-track {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-track img {
    width: 100%;
    flex-shrink: 0;
    height: 350px;
    object-fit: cover;
}
/* ===== PERFIL OVERLAY ===== */

.perfil-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);

    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

/* Caja principal */
.perfil-box {
    width: 850px;
    max-width: 95%;
    background: white;
    border-radius: 18px;
    padding: 30px;

    box-shadow: 0px 10px 30px rgba(0,0,0,0.35);

    font-family: "Inter", sans-serif;
    position: relative;
}

/* Botón cerrar */
.cerrar-perfil {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}

.cerrar-perfil:hover {
    color: red;
}

/* Encabezado */
.perfil-header h2 {
    font-size: 26px;
    font-weight: 900;
    color: var(--logo-azul);
    margin-bottom: 25px;
}

/* Contenido */
.perfil-contenido {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* Foto */
.perfil-foto {
    width: 250px;
    text-align: center;
}

.perfil-foto img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid var(--logo-verde);
    margin-bottom: 12px;
}

.perfil-foto h3 {
    font-size: 20px;
    font-weight: 800;
    color: var(--logo-azul);
}

.perfil-foto p {
    font-size: 14px;
    color: var(--gris-texto);
}

/* Información */
.perfil-info {
    flex: 1;
}

.perfil-info h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 15px;
    color: var(--logo-azul);
}

.perfil-info p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
}

.dropdown button.icon {
    background: transparent;
    border: none;
    padding: 0;
}


/* Botón editar */
.btn-editar {
    margin-top: 20px;
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background: var(--logo-azul);
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn-editar:hover {
    background: var(--logo-verde);
    color: black;
}

.dropdown button.icon img:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

/* ===== EDITAR PERFIL OVERLAY ===== */

.editar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(6px);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 10000;
}

.editar-box {
    width: 420px;
    background: white;
    padding: 30px;
    border-radius: 18px;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);

    font-family: "Inter", sans-serif;
    position: relative;
}

.editar-box h2 {
    font-size: 24px;
    font-weight: 900;
    color: var(--logo-azul);
    margin-bottom: 20px;
}

.editar-box label {
    font-weight: bold;
    font-size: 14px;
    color: var(--logo-azul);
    display: block;
    margin-top: 12px;
}

.editar-box input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 15px;
}

.editar-box button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;

    background: var(--logo-azul);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.editar-box button:hover {
    background: var(--logo-verde);
    color: black;
}
.icon img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    cursor: pointer;
}

.dropdown button.icon img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

#perfilNavbar {
    display: none;
}

.btn-cerrar {
    margin-top: 12px;
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background: crimson;
    color: white;
    font-weight: bold;
}

.btn-cerrar:hover {
    background: darkred;
}
.accesibilidad {
    grid-area: boton;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
}


@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(0); }

    34% { transform: translateX(-100%); }
    66% { transform: translateX(-100%); }

    67% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}


footer {
    grid-area: footer;
    text-align: center;
    padding: 20px;
    background: var(--azul-principal);
    color: var(--blanco);
    font-size: 16px;
    margin-top: 40px;
    border-top: 3px solid var(--logo-verde);
}

@media(min-width: 768px){
        grid-template: 
        "topbar topbar"auto
        "bienvenida bienvenida"auto
        "categorias-container categorias-container"auto
        "boton boton"auto
        "footer footer"auto

        /auto auto;
}
@media(min-width: 992px){
        grid-template: 
             "topbar topbar"auto
        "bienvenida bienvenida"auto
        "categorias-container categorias-container"auto
        "boton boton"auto
        "footer footer"auto
        /auto auto;
    }
}

