@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box; 
    margin:0; 
    padding: 0;
 }

:root {
 --azul-principal: #1D4A7A;
 --blanco-secundario: #d1d9e6dd;
 --blanco: #FFFFFF;
 --gris-texto: #6C757D;
 --gris-fuerte: #4A4A4A;
 --verde-activo: #28A745;
 --logo-azul: #0D3B66;
 --logo-verde: #54C1A9;
 --logo-naranja: #F4A443;
 --verde-barra: #0b7a32;
 --negro: black;
}

body{ font-family: "Montserrat", sans-serif; padding: 0px; background-color: var(--blanco-secundario); }




 .grid-container > * { 
    text-align: justify;
    align-items: center;
    box-shadow: 10px 6px 37px -13px rgba(5, 68, 227, 0.18);
    
 } 

 

.logo-area {
 display: flex;
align-items: center;
gap: 10px;
}

.logo-area img {
height: 55px;
}

.logo-area .titulo {
color: white;
font-size: 26px;
font-weight: bold;
}

.nav-links a {
color: white;
text-decoration: none;
font-size: 16px;
}

.nav-links a.active,
.nav-links a:hover {
color: var(--logo-verde);
}

.nav-links {
display: flex;
align-items: center;
gap: 25px;
}


  .lista-dos-columnas {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas */
        gap: 10px 30px; /* Espaciado entre filas y columnas */
        padding: 0;
        list-style: none;
    }
 


/* .hj1 h1{ background:var(--azul-principal); color:white; padding:10px; border-radius:6px; text-align:center; }/*  */

h1 {
    background:var(--azul-principal); color:white; padding:10px; border-radius:6px; text-align: center;
}

select, option{
    color: var(--negro); border-radius: 15px;font-size: 15px; background-color:var(--blanco); padding: 14px; font-family: "Montserrat", sans-serif ; font-weight: bold; font-size: 15px;
}

 li{
    padding: 5px;  font-size: 15px; list-style-type: none;
}
.img img{
    height: 200px;
    width: 400px;
    display: block; /* Convierte la imagen en un elemento de bloque */
    margin-left: auto;
    margin-right: auto;
    
}
.datos-hj{
    text-align: justify;
    font-family: "Montserrat", sans-serif; 
    color: black;
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(29, 74, 122, 0.6);
}


button{
    padding: 12px 25px;
    font-size: 17px;
    background: var(--logo-verde);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

button:hover {
    background-color: var(--blanco);
    transform: translateY(-2px);
    box-shadow: 0 8px 40px rgba(29, 74, 122, 0.6);
    color: var(--negro);
    
}

/* BOTÓN FLOTANTE */
.accesibilidad > button {
    background: #1f3b57;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

/* MENÚ */
.menu-accesibilidad {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.menu-accesibilidad button {
    margin: 5px 0;
    padding: 6px;
    border: none;
    cursor: pointer;
    background:#eee;
    color:black;
    border-radius:6px;
}

/* MODOS */
.dark-mode {
    background: #121212 !important;
}

.alto-contraste {
    background: black !important;
    color: var(--azul-principal) !important;
}

.mayusculas{
    text-transform: uppercase;
}
.dark-mode {
    background-color: #121212 !important;
    color: #ffffff !important;
}

/* Cambiar todas las cajas internas */
.dark-mode .img,
.dark-mode .hj1,
.dark-mode .hj2,
.dark-mode .caracteristicas,
.dark-mode .menu-accesibilidad {
    background-color: #1e1e1e !important;
    color: white !important;
}

/* Navbar */
.dark-mode .topbar {
    background: #0a2236 !important;
}

/* Footer */
.dark-mode footer {
    background: #0a2236 !important;
}

/* Botones */
.dark-mode button {
    background-color: #333 !important;
    color: white !important;
}

.dark-mode button:hover {
    background-color: #555 !important;
    color: white !important;
}

/* ========================= */
/* ALTO CONTRASTE MEJORADO */
/* ========================= */

.alto-contraste {
    background-color: black !important;
    color: yellow !important;
}

.alto-contraste .img,
.alto-contraste .hj1,
.alto-contraste .hj2,
.alto-contraste .caracteristicas {
    background-color: black !important;
    color: yellow !important;
}

.alto-contraste a {
    color: cyan !important;
}


.grid-container { /* mobile */
    display: grid; 
    gap: 10px;  /*espaciado entre elementos */ 
    grid-template:
        /* crear orden de contenedores */
        "topbar" 50px
        "img" auto
        "hj1" auto
        "hj2" auto
        "caracteristicas" auto
        "boton-volver" auto
        "boton-mantenimientos"  auto
        "boton"auto
        "footer" auto;
        

    .topbar {
    grid-area:topbar;
    background: var(--logo-azul);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    border-bottom: 8px solid var(--logo-verde);
    position: relative;
    z-index: 1000;
}

.img { 
    grid-area: img;
    background-color: #F5F7FA; 
    box-shadow: 0 8px 40px rgba(29, 74, 122, 0.6);
    border-radius: 20px;
    padding: 10px;
    
}

.hj1 { 
    grid-area: hj1; 
    background-color: #F5F7FA; 
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(29, 74, 122, 0.6);
    padding: 10px;
   
}

.hj2 { 
    
    grid-area: hj2;
    background-color: #F5F7FA;
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(29, 74, 122, 0.6);
    padding: 10px;
}

.caracteristicas { 
    grid-area: caracteristicas;
    background-color: #F5F7FA;
    box-shadow: 0 8px 40px rgba(29, 74, 122, 0.6);
    border-radius: 20px;
    padding: 10px;
}

.boton-volver{
    grid-area: boton-volver;
    text-align: center;
}
.boton-mantenimientos{
     grid-area: boton-mantenimientos;
    text-align: center;

}

   .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 170px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* clave para que quede encima del contenido */
    z-index: 2000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--logo-verde);
}
.accesibilidad {
    grid-area: boton;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
}



footer { 
    grid-area: footer;
    text-align: center;
    padding: 20px 10px;
    background: var(--azul-principal);
    color: var(--blanco);
    font-size: 16px;
    border-top: 3px solid var(--logo-verde);
    border-bottom: 8px solid var(--azul-principal);
}

     @media (min-width: 768px) {
    /* definir ancho a diferentes dispositivos, en este caso tablet */
        grid-template:
            /* crear columnas */
            "topbar topbar" auto
            "topbar topbar" auto
            "img hj1" auto
            "hj2 caracteristicas" auto
            "boton-volver boton-mantenimientos" auto
            "boton boton"auto
            "footer footer" auto
            / 50% auto; /* definir ancho de columnas */
    }

        @media (min-width: 992px) {
        /* definir ancho a diferentes dispositivos, en este caso desktop */
        grid-template:
        
            /* crear columnas */
            "topbar topbar" auto
            "img hj1" auto
            "hj2 caracteristicas" auto
            "boton-volver boton-mantenimientos" auto
            "boton boton"auto
            "footer footer" auto

            / auto 50%; /* definir ancho de columnas */
    }
}









